# Database
DB_USERNAME=root
DB_PASSWORD=yourpassword
DB_URL=jdbc:mysql://localhost:3306/mumulbox

# JWT
JWT_SECRET=your-very-long-secret-key-min-256-bits-required-please-change-this
JWT_EXPIRATION=86400000